@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at top left,
      rgba(168, 85, 247, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(99, 102, 241, 0.12),
      transparent 40%
    ),
    #050505;
  color: white;
  overflow-x: hidden;
}

::selection {
  background: #a855f7;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
